@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.img {
    background: url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
    background-size: cover;
    filter: blur(15px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form {
    max-width: 270px;
    margin: 8px auto;
    padding: 16px;
    position: relative;
    z-index: 2;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.area, .location {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    height:45px;
    border-radius: 5px;
}

.submit {
    background: #a5dc86;
    width: 100%;
    border: 0;
    margin: 25px 0 10px;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
}

.result {
    background: #dcd686;
    width: 100%;
    border: 0;
    margin: 25px 0 10px;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    text-align: center;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
